



    body{
    	    	    	font-family: 'Open Sans', sans-serif;
    	    	    	    	    }
    











						.content{
				margin-top: -60px;
			}
				
	
.logo_wrapper,
.side_menu_button,
.shopping_cart_inner
{
	height: 60px;
}
.content.content_top_margin{
	margin-top: 60px !important;
}

header:not(.centered_logo) .header_fixed_right_area {
    line-height: 60px;
}

<!---->
<!--.drop_down .second,-->
<!--.drop_down .second.bellow_header-->
<!--{-->
<!--	top: --><!--px;-->
<!--}-->





        header.fixed_hiding .q_logo a,
        header.fixed_hiding .q_logo{
            max-height: 42.5px;
        }




    .touch section.parallax_section_holder{
		height: auto !important;
		min-height: 300px;  
		background-position: center top !important;  
		background-attachment: scroll;
        background-size: cover;
	}
nav.main_menu > ul > li > a{
	line-height: 60px;
}












































    .footer_top,
    .footer_top.footer_top_full{
     padding-right: 200px;padding-left: 200px 
 }

















































 .vertical_menu_float .menu-item .second{
	left: calc(100% + 30px); /*because of the padding*/
}

.vertical_menu_hidden aside.vertical_menu_area .vertical_menu_float .menu-item .second {
	left: calc(100% + 40px);
}

 
 
 




	.vertical_menu_area{
		text-align:left;
	}
	




















































































































